.main-div {
	margin: 8px;
}

.main-header {
}

.main-body {
	margin-top: 8px;
}

.main-footer {
	background-color: var(--component-background);
	
	padding: 0.4rem;

	border-radius: 8px;
	border: solid var(--component-border-color) 0.15rem;
	box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////

#main-container {
	display: grid;
	grid-template-areas:
	  'main main main right right';
	gap: 10px;
	background-color: var(--component-background);
	padding: 10px;
}

#main-container > div {
	padding: 0.4rem;

	border-radius: 8px;
	border: solid var(--component-border-color) 0.15rem;
	box-sizing: border-box;
	text-align: center;
  }

.matchmaking { grid-area: main; }
.global-chat { grid-area: right; }