/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   NavItem.css                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/05 19:05:27 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/19 12:09:28 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.nav-item {
	user-select: none;
	text-decoration: none;
	border-style: solid;

	cursor: pointer;
	display: block;

	margin: 6px;
	padding: 6px;
	border-radius: 8px;
	text-align: center;

	background: #333944;
	border: solid #434a59 0.15rem;
	color: white;

	transition: all var(--transition-speed) ease-out;
	outline: none;
}

/*////////////////////////////////////////////////////////////////////////////*/

.nav-item:focus {
	border-color: #7f8594;
}

.nav-item:active {
	border-color: whitesmoke;
}

.nav-item:hover {
	color: white;
}
