/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   NavItem.css                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/05 19:05:27 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/19 17:06:13 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.nav-item {
	user-select: none;
	text-decoration: none;

	cursor: pointer;
	display: block;

	margin: 6px;
	padding: 6px;
	border-radius: 8px;
	text-align: center;

	color: white;
	
	border: solid rgba(0, 0, 0, 0) 2px;
	transition: all var(--transition-speed) ease-out;
	transition-delay: 0.05s;
	outline: none;
}

/*////////////////////////////////////////////////////////////////////////////*/

.nav-item:focus {
	border-color: white;
}

.nav-item:active {
	border-color: #7f8594;
}

.nav-item:hover {
	border-color:  white;
}
