/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   Navbar.css                                         :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/08 17:11:11 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/26 12:11:03 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.main-navbar {

    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;

    z-index: 10;

    gap: 8px;
    height: 100vh;
    min-width: fit-content;
    background: var(--component-background);
	box-shadow: 5px 0px 15px -8px rgba(0,0,0,0.5);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.main-navbar::-webkit-scrollbar {
	display: none;
}

.main-navbar-logo {
    align-self: center;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.main-navbar-top-items {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.nav-item-text {
	font-size: 10px;
	margin: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////*/
