.navbar {

	background-color: var(--component-background);
	
	padding: 0.5rem;

	border-radius: 8px;
	border: solid var(--component-border-color) 0.15rem;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.navigation-content {

}

.login-content {
	display: flex;
	align-items: center;
}