/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   Container.css                                      :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/05 19:05:27 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/08 13:45:10 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.container {
	display: inline-block;
	background-color: var(--component-background);

	margin: 0.4rem;
	padding: 0.4rem;

	border-radius: 8px;
	border: solid var(--component-border-color) 0.15rem;
	box-sizing: border-box;
}

/*////////////////////////////////////////////////////////////////////////////*/
