/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   ChatBox.css                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/08 14:47:55 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/19 17:41:03 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.chat-content {
    display: flex;
    flex-direction: column;
}

.chat-body {
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 218px;
    min-width: 512px;
}