/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   IconButton.css                                     :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/05 19:05:27 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/29 12:05:41 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.icon-button {
	user-select: none;
	text-decoration: none;

	cursor: pointer;
	display: inline-block;

	margin: 4px;
	padding: 6px;
	border-radius: 8px;
	text-align: center;

	color: white;
	background: transparent;
	
	border: solid rgba(0, 0, 0, 0) 2px;
	transition: all var(--transition-speed) ease-out;
	transition-delay: 0.05s;
	outline: none;

	width: 64px;
    height: 64px;
}

/* TODO: On overflow do some form of hover animation */
.icon-button-text {
	font-size: 10px;

	overflow: hidden;
	white-space: nowrap;
}

/*////////////////////////////////////////////////////////////////////////////*/

.icon-button:focus {
	border-color: white;
}

.icon-button:active {
	border-color: #7f8594;
}

.icon-button:hover {
	border-color:  white;
}
