.Login {
	text-align: center;
}

.Login-logo {
	height: 40vmin;
	pointer-events: none;
	animation: Login-anim-spin infinite 10s linear;
}

.Login-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(8px + 2vmin);
	color: white;
}

////////////////////////////////////////////////////////////////////////////////

@keyframes Login-anim-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
