
////////////////////////////////////////////////////////////////////////////////

.login-header {
	color: white;
	background-color: #282c34;
	min-height: 100vh;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    
	font-size: calc(8px + 2vmin);
}

.login-body {
    display: contents;
}

.login-button-content {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 0.5rem;

    letter-spacing: 3.5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

////////////////////////////////////////////////////////////////////////////////

@keyframes Login-anim-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
