
////////////////////////////////////////////////////////////////////////////////

.login-header {
	color: var(--foreground);
	background-color: var(--general-background);
	min-height: 100vh;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    gap: 1rem;
    
	font-size: calc(16px + 2vmin);
}

.login-body {
	display: contents;
}

.login-button-content {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 0.5rem;

    letter-spacing: 3.5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

////////////////////////////////////////////////////////////////////////////////

#login-logo {
	animation: Login-anim-spin infinite 10s linear;
}

////////////////////////////////////////////////////////////////////////////////

@keyframes Login-anim-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
