/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   Button.css                                         :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/09/05 19:05:27 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/09/05 21:33:03 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.button-item {
	user-select: none;
	text-decoration: none;
	border-style: solid;
	border-width: 234px;

	cursor: pointer;
	display: inline-block;

	margin: 4px;
	padding: 0.5rem;
	border-radius: 4px;

	background: #333944;
	border: solid #434a59 0.15rem;
	color: white;

	transition: all var(--transition-speed) ease-out;
	outline: none;
}

.button-item:focus {
	border-color: #7f8594;
}

.button-item:active {
	border-color: whitesmoke;
	box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.39);
}

.button-item:hover {
	color: white;
}

.button-item i {
	margin-right: 0.2rem;
}