:root {
	font-family: 'Segoe UI', Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: #fafafa;
	--secondary-color: #a3a3a3;
	background-color: var(--background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern","liga","clig","calt";
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--blue: #3da1da;
	--orange: #f19018;
	--purple: #b63288;
	--red: #e42b2f;

	--border-radius: 4px;

	--shadow: rgb(0, 0, 0, 0.42);

	--foreground: white;
	--foreground-unfocused: rgb(66, 66, 66);
	--background: #1a1a1a;
	--secondary-background: #151515;

	--navbar-background: #121212;

	--component-border: #292929;
	--component-background: #212121;
	--component-secondary-bg: #313131;

	color: var(--foreground);
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

hr {
	border: 2px solid var(--component-border);
	background-color: var(--component-border);
	border-radius: 8px;
	margin: 0.5em 0.1em;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground: #121212;

		--background: #ffffff;
		--secondary-background: #f9f9f9;

		--component-border: #8e8e8e;
		--component-background: #f9f9f9;
		--component-secondary-bg: #cbcbcb;
		--component-foreground: #213547;
	}
}
